@media screen and (max-width: 1025px) {
  .article {
    padding: 5rem 0;
  }
  .article__head {
    margin-bottom: 3rem;
  }
  .article .container {
    height: 350px;
    width: 100%;
  }
  .article__img {
    width: 435px;
    height: 100%;
    overflow: hidden;
    opacity: 0.7;
    border-radius: 5px;
  }
  .article__sum {
    height: 100%;
    flex-grow: 1;
    font-size: 1.8rem;
    padding: 0px 3rem;
  }
  .article__sum--title {
    font-size: 2.5rem;
  }
  .article__cta {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 800px) {
  .article__head {
    margin-bottom: 2rem;
  }
  .article .container {
    height: 320px;
    width: 100%;
  }
  .article__img {
    width: 320px;
  }
  .article__sum {
    font-size: 1.5rem;
    padding: 0px 0px 0px 3rem;
  }
  .article__sum--title {
    font-size: 2rem;
  }
  .article__cta {
    margin-top: 2rem;
    font-size: 1.8rem;
  }
}
