.article {
  padding: 80px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(247, 242, 242);
  /* background-color: #002147; */
  background-color: #303f46;
  color: white;
}
.article__head {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 3rem;
}
.article .container {
  display: flex;
  justify-content: space-between;
  height: 500px;
}
.article__img {
  width: 560px;
  height: 100%;
  overflow: hidden;
  opacity: 0.7;
  border-radius: 5px;
}
.article__img img {
  height: 100%;
  width: 100%;
}
.article__image {
  background-blend-mode: lighten;
  opacity: 0.5;
}
.article__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article__sum {
  flex-grow: 1;
  font-size: 2rem;
  height: 100%;
  width: 50%;
  padding: 0px 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.article__sum--para {
  margin: 10px 0;
}

.article__sum--cta {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}
.article__sum--cta:hover {
  opacity: 0.7;
}
.article__sum--cta span {
  font-size: 30px;
  margin-left: 5px;
}
.article__cta {
  color: white;
  margin-top: 5rem;
  text-decoration: none;
  padding: 3px;
  border-bottom: 2px solid white;
  font-size: 2rem;
  transition: all 0.5s;
}
.article__cta:hover {
  opacity: 0.7;
}
