@media screen and (max-width: 650px) {
  .about__highlights {
    flex-wrap: wrap;
    border-radius: 0;
    box-shadow: 0 0 5px 1px rgba(34, 34, 34, 0.1);
    padding: 0;
  }
  .about__para {
    font-size: 1.5rem;
  }
  .highlight__card {
    margin: 0 auto;
    box-shadow: 0 0 0 0;
    padding: 5rem;
    width: 280px;
  }
  .highlight__card:nth-child(2) {
    border-right: none;
    border-left: none;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
  .highlight__card p {
    font-size: 1.3rem;
  }
  .about__cta {
    font-size: 1.8rem;
  }
}
@media screen and (max-height: 370px) {
  .highlight__card {
    width: 350px;
  }
}
