.contact {
  margin-top: 10rem;
}
.contact h1 {
  text-align: center;
  color: #002147;
  font-size: 3rem;
  max-width: 60rem;
  margin: 0 auto;
}
.contact__form {
  max-width: 60rem;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input-group {
  display: flex;
  flex-direction: column;
}
.input-group:nth-child(3) {
  width: 100%;
}
.input-group label {
  color: #002147;
  margin-bottom: 10px;
  padding-left: 1rem;
}
.input__name,
.input__email {
  width: 28rem;
  height: 5rem;
  margin-bottom: 3rem;
  padding: 0 1rem;
  font-size: 2rem;
  border: 1px solid rgba(34, 34, 34, 0.2);
  outline: none;
  border-radius: 3px;
}
.input__message {
  height: 25rem;
  outline: none;
  border: 1px solid rgba(34, 34, 34, 0.2);
  border-radius: 3px;
  padding: 1rem;
}
.input__email:focus,
.input__name:focus,
.input__message:focus {
  border: 1px solid #002147;
  border: 1px solid#6699cc;
}
.form__submit {
  color: white;
  border: none;
  background-color: #002147;
  width: 15rem;
  text-align: center;
  padding: 1.5rem 1rem;
  font-size: 2rem;
  display: block;
  margin: 5rem auto;
}
