@media screen and (max-width: 650px) {
  .contact {
    padding: 0 5rem;
    margin: 5rem auto;
  }
  .contact h1 {
    font-size: 2.5rem;
  }
  .contact__form {
    margin: 3rem auto;
  }
  .input-group label {
    font-size: 1.8rem;
  }
  .input-group {
    width: 100%;
  }
  .input__name,
  .input__email {
    width: 100%;
  }
}
