@media screen and (max-width: 768px) {
  .navbar .container {
    height: 60px;
  }
  .nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .mobile-nav__list {
    height: max-content;
    list-style: none;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: #002147;
    background-blend-mode: color-dodge;
    color: white;
    padding: 10px;
    width: 100%;
    animation: slidedown 1.5s 0.5;
  }
  .mobile-nav__item {
    padding: 10px 5px;
    width: max-content;
  }
}

@keyframes slidedown {
  from {
    bottom: 100%;
  }
  to {
    top: 60px;
  }
}
