.navbar {
  width: 100%;
  transition: all 0.5s;
  z-index: 1000;
  box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.2);
}
.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-bg {
  background-color: #002147;
  /* background-color: #13191c; */
}
.navbar .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scrolled .container {
  height: 60px;
}
.navbar__logo {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Odibee Sans";
  text-transform: uppercase;
  height: fit-content;
  display: flex;
  align-items: center;
  background-color: white;
  background-image: linear-gradient(60deg, rgb(48, 46, 46), white);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.navbar__logo span:nth-child(2) {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  margin: 0 2.5px;
  -webkit-text-fill-color: transparent;
}
.nav {
  font-size: 1.6rem;
  color: white;
}
.nav__list {
  display: flex;
  list-style: none;
}
.nav__item {
  margin: 0 1rem;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.active::after,
.nav__item::after {
  content: "";
  background-color: white;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.5s;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.active::after {
  animation: appear 0.5s;
  width: 100%;
}
.nav__item:hover::after {
  width: 100%;
}

.mobile-nav {
  display: none;
  width: 3rem;
  height: 3rem;
}
.mobile-nav button {
  background: none;
  border: none;
}
.mobile-nav img {
  width: 100%;
  height: 100%;
  background: transparent;
  animation: popin 1s;
}

@keyframes popin {
  0% {
    transform: scale(0.1);
  }
  90% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes popout {
  0% {
    transform: scale(0.1);
  }
  90% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

.animate-popin {
  animation: popin 1s;
}
.animate-popout {
  animation: popout 1s;
}
