.footer__logo {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: "Odibee Sans";
  text-transform: uppercase;
  height: fit-content;
  display: flex;
  align-items: center;
}
.footer__logo span:nth-child(2) {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  margin: 0 2.5px;
  -webkit-text-fill-color: transparent;
}
.footer {
  width: 100%;
  background-color: #13191c;
}
.footer .container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
  flex-wrap: wrap;
  padding-top: 10rem;
}
.footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footer__icons {
  display: flex;
}
.footer__icons img {
  height: 32px;
  margin: 0 10px;
}
.footer__list {
  list-style: none;
  display: flex;
  color: white;
  flex-direction: column;
  font-size: 2rem;
}
.footer a {
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}
.footer a:visited {
  color: white;
}
.footer a:hover {
  opacity: 0.5;
}
.footer__item:not(:last-child) {
  margin-bottom: 1rem;
}
.footer__note {
  margin: 1rem auto;
  font-size: 2rem;
}
.footer__copyright {
  width: 100%;
  text-align: center;
  margin: 10rem auto 5rem auto;
  font-size: 1.8rem;
}
