.footer__logo {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: "Odibee Sans";
  text-transform: uppercase;
  height: fit-content;
  display: flex;
  align-items: center;
}
.footer__logo span:nth-child(2) {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  margin: 0 2.5px;
  -webkit-text-fill-color: transparent;
}
.footer {
  width: 100%;

  background-color: #13191c;
}
.footer .container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
  flex-wrap: wrap;
  padding-top: 100px;
}
.footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__icons {
  display: flex;
}
.footer__icons img {
  height: 32px;
  margin: 0 10px;
}
.footer__list {
  list-style: none;
  display: flex;
  color: white;
  flex-direction: column;
  font-size: 20px;
}
.footer__item:not(:last-child) {
  margin-bottom: 10px;
}
.footer__note {
  margin: 10px auto;
}
.footer__copyright {
  width: 100%;
  text-align: center;
  margin: 100px auto 50px auto;
}
